.background-container {
  background-image: url('https://images.pexels.com/photos/4449616/pexels-photo-4449616.jpeg?auto=compress&cs=tinysrgb&w=400://images.pexels.com/photos/15667214/pexels-photo-15667214/free-photo-of-a-man-with-a-backpack-in-a-forest.jpeg?auto=compress&cs=tinysrgb&w=400');
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
}